<mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav [mode]="over">
        <!-- <button mat-button (click)="sidenav.toggle()">Toggle</button> -->
        <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="sidenav.toggle()">
        <mat-icon aria-label="Side nav toggle icon" class="biggericon">more_horiz</mat-icon>
      </button>
      <p>
        Home
      </p>
    </mat-sidenav>
    <mat-sidenav-content>
      <!-- <p><button mat-button (click)="sidenav.toggle()">Toggle</button></p> -->
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="sidenav.toggle()">
        <mat-icon aria-label="Side nav toggle icon" class="biggericon">more_horiz</mat-icon>
      </button>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>